body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

table.data, .data th, .data td {
  vertical-align: top;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

table.metadata, .metadata th, .metadata td {
  text-align: left;
  vertical-align: top;
  border: 0;
  border-collapse: collapse;
}

h3 {
  margin: 1.5em 0 0.25em 0;
}

pre {
  margin: 0;
  font-size: 1.25em;
  white-space: pre-wrap;
}

.messages {
  padding: 2px;
}

.error {
  color : #e00;
}

.CodeMirror {
  height: 95px !important;
}

.null {
  color: #bbb;
}

#control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  padding: 4px;
  font-size: 0.75em;
}

#control div {
  float: right;
}

#input {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #aaa;
}

#output {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.8em;
  overflow: scroll;
}
