body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

table.data, .data th, .data td {
  vertical-align: top;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

table.metadata, .metadata th, .metadata td {
  text-align: left;
  vertical-align: top;
  border: 0;
  border-collapse: collapse;
}

h3 {
  margin: 1.5em 0 0.25em 0;
}

pre {
  margin: 0;
  font-size: 1.25em;
  white-space: pre-wrap;
}

.messages {
  padding: 2px;
}

.error {
  color : #e00;
}

.CodeMirror {
  height: 95px !important;
}

.meta {
  color: #bbb;
}

#control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  font-size: 0.75em;
}

#control div.primary {
  float: left;
  padding: 5px 2px;
  height: 16px;
}

#control div.primary button {
  position: relative;
  top: -2px;
}

#control div.secondary {
  float: right;
  padding: 5px 2px;
  height: 16px;
}

#input {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
}

#progress {
  position: relative;
  bottom: 0;
  height: 1px;
  width: 100%;
  overflow: hidden;
}

#progress #bar {
  height: 100%;
  background: #aaa;
  transition: width 200ms ease, background-color 1s linear;
}

#progress #bar .gap {
  position: absolute;
  height: 100%;
  background: #fff;
  transition: all 200ms linear;
}

#output {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.8em;
  overflow: scroll;
}
