body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

table, th, td {
  vertical-align: top;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

pre {
  font-size: 1.25em;
  white-space: pre-wrap;
}

.error {
  color : #e00;
}

.CodeMirror {
  height: 95px !important;
}

.null {
  color: #bbb;
}

#control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  padding: 4px;
}

#input {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #aaa;
}

#output {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.8em;
  overflow: scroll;
}
